body {
    background: #0f172a;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #020617;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 420px;
}

h1 {
    font-size: 32px;
}

h1 span {
    color: #22c55e;
}

.subtitle {
    color: #94a3b8;
    margin-bottom: 25px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: none;
}

button {
    background: #22c55e;
    border: none;
    padding: 12px 25px;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #16a34a;
}

#result {
    margin-top: 20px;
}